<div class="row">
  <div *ngIf="items$ | async as items">
    <div class="row justify-content-start">
      <div class="col-md-auto">
        <div *ngIf="questionService && coreService.hasPrivilege(pagePrivileges.update)">
          <app-add-item *ngIf="questions$ | async as questions" [itemAction$]="itemAction$"
                        [questions]="questions" title="New {{itemName}}">
          </app-add-item>
        </div>
      </div>
      <div class="col-md-auto">
        <select [ngModel]="filters$.getValue().itemsPerPage" class="btn btn-light btn-group-vertical border" #ipp
                (change)="updateFilters({ itemsPerPage: ipp.value })">
          <option *ngFor="let itemsPerPageOption of [5, 10, 20]">{{itemsPerPageOption}}</option>
        </select>
      </div>
      <div class="col-md-auto">
        <ngb-pagination (pageChange)="updateFilters({currentPage: $event - 1 || 0})"
                        [collectionSize]="items.total"
                        [maxSize]="10"
                        [pageSize]="(filters$|async)!.itemsPerPage" [page]="(filters$|async)!.currentPage + 1"
                        [rotate]="true"
                        size="sm">
        </ngb-pagination>
      </div>
    </div>
    <div class="row">
      <app-data-grid [config]="dataGridConfig" [data]="items.data" [itemAction$]="itemAction$"></app-data-grid>
    </div>
  </div>
</div>
