<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{itemName}}</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn btn-secondary" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-dynamic-form *ngIf="addItemQuestions$ | async as questions"
                    (submittedResult)="modal.close($event)"
                    [questions]="questions"
                    [insertData]="insertData"
                    submitButton="Create"></app-dynamic-form>
</ng-template>

<div *ngIf="items$ | async as items" class="row">
  <div *ngIf="searchQuestions$ | async as questions" class="col-3">
    <app-search (searchChange)="updateFilters($event)" [questions]="questions"></app-search>
  </div>
  <div [class]="searchQuestions$ ? 'col-9' : 'col-12'">
    <div class="row">
      <div class="col-md-auto">
        <div *ngIf="addItemQuestions$ && coreService.hasPrivilege(pagePrivileges.update)">
          <button (click)="openModal()" class="btn btn-primary">New {{itemName}}</button>
<!--          <app-add-item *ngIf="addItemQuestions$ | async as questions" [itemAction$]="itemAction$"-->
<!--                        [questions]="questions" title="New {{itemName}}">-->
<!--          </app-add-item>-->
        </div>
      </div>
      <div class="col-md-auto">
        <select #ipp (change)="updateFilters({ itemsPerPage: ipp.value })" [ngModel]="filters$.getValue().itemsPerPage"
                class="btn btn-light btn-group-vertical border">
          <option *ngFor="let itemsPerPageOption of [5, 10, 20]">{{itemsPerPageOption}}</option>
        </select>
      </div>
      <div class="col-md-auto">
        <ngb-pagination (pageChange)="updateFilters({currentPage: $event - 1 || 0})"
                        [collectionSize]="items.total"
                        [maxSize]="10"
                        [pageSize]="(filters$|async)!.itemsPerPage" [page]="(filters$|async)!.currentPage + 1"
                        [rotate]="true"
                        size="sm">
        </ngb-pagination>
      </div>
    </div>
    <div class="row">
      <app-data-grid [config]="dataGridConfig" [data]="items.data" [itemAction$]="itemAction$"></app-data-grid>
    </div>
  </div>
</div>
