<div [formGroup]="formGroup" class="form-control">
  <label [for]="question.options.key">{{question.options.label}}</label>
  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'TextBox'" [formControlName]="question.options.key" [id]="question.options.key"
           [type]="question.options.type">

    <select *ngSwitchCase="'Dropdown'" [formControlName]="question.options.key" [id]="question.options.key">
      <option *ngFor="let opt of question.options.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <input *ngSwitchCase="'Date'" [formControlName]="question.options.key" [id]="question.options.key"
           [type]="question.options.type">

  </div>
  <div *ngIf="formControl?.invalid && (formControl?.dirty || formControl?.touched)">
    <app-dynamic-form-errors [errors]="formControl?.errors"></app-dynamic-form-errors>
  </div>
</div>
