<td>
  <ng-content></ng-content>
</td>
<td *ngFor="let row of config; let idx=index" [ngSwitch]="row.type">

  <div *ngSwitchCase="'img'">
    <img [src]="data[row.key]" alt="" height="30">
  </div>

  <div *ngSwitchCase="'input'" class="form-inline">
    <input (input)="onAction('update', data)" [(ngModel)]="data[row.key]"
           class="form-control form-control-sm" type="number">
  </div>

  <div *ngSwitchCase="'button'" class="form-inline">
    <button (click)="onAction(row.action, data)" class="btn btn-secondary btn-sm">{{row.header}}</button>
  </div>

  <div *ngSwitchDefault>
    {{data[row.key]}}
  </div>

</td>
