<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="btn btn-secondary" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-dynamic-form (submittedResult)="modal.close($event)" [questions]="questions || []"
                    submitButton="Create"></app-dynamic-form>
</ng-template>

<button (click)="open(content)" class="btn btn-primary">{{title}}</button>
